:root {
    --primary-color: #007BFF;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
	text-decoration: none;
	background-color: #A8D8E0;
}

header {
	background: #333;
	list-style-type: none;
	color: #fff;
	padding: 10px 0;
	margin: 0;
	text-align: center ;	
	max-width: 100%;
	height: auto;
	text-decoration: none;
	
}


@font-face {
	font-family: 'Belozersk Font';
	src: url('/fonts/Title/Belozersk\ Font.ttf')
	format('ttf'),
	url('/fonts/Title/Belozersk\ Font.otf') format('otf'); 
	font-weight: normal;
	font-style: italic;
}

#title {
	font-family: 'Belozersk Font';
	font-size: 45pt;
	margin: auto;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 30px;
	
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--primary-color); /* Цвет при наведении */
	text-decoration: none;
}

section {
	padding: 20px;
}

h2 {
	color: #0c0c0c;
	text-align: center;
	margin-bottom: 20px;
}

.downText {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	overflow: hidden;
}

#fallingText{
	font-size: 58px;
	color: #1b3670;
	animation: fall 2s forwards;
}

@keyframes fall {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-inner {
	display: flex;
	overflow: hidden;
	border: 2px solid #181a5f;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
	width: 400%;
	transition: transform 2s ease-in-out;
}

.carousel-item {
	flex: 4;
	display: flex;
	text-align: center;
	justify-content: center;
	transition: transform 2s ease-in-out;

}

.carousel-item img {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}

.fade-in {
	opacity: 0;
	transition:  opacity 3.5s ease-in-out;
}

.fade-in.show{
	opacity: 1;
}

h3 {
	margin: 0;
	color: #007BFF; 
}

p {
	color: #555;
	text-align: justify; 
	margin-bottom: 20px;
	margin: 5px 0;
}

.text-column {
	display: flex; 
	flex-direction: column; 
	gap: 10px; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


footer {
	background-color: #333; /* Темный фон */
	color: #fff; /* Белый текст */
	text-align: center; /* Центрирование текста */
	padding: 20px 0; /* Отступы сверху и снизу */
	position: absolute; /* Позиционирование */
	bottom: 0; /* Привязка к низу */
	width: 100%; /* Ширина на всю страницу */
	font-family: Arial, sans-serif;
}

footer p {
	margin: 0; 
	font-size: 14px; 
	text-align: center;
	color: #fff;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {
    #title {
        font-size: 30pt; /* Уменьшите размер заголовка для мобильных */
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов меню */
        padding: 0;
    }

    nav ul li {
        margin: 10px 0; /* Увеличьте отступы между элементами меню */
        display: block; /* Каждый элемент занимает всю ширину */
    }

    h2 {
        font-size: 24px; /* Уменьшите размер заголовка для мобильных */
    }

    .carousel-item img {
        max-height: 200px; /* Уменьшите максимальную высоту изображений для мобильных */
    }
	footer {
		background-color: #333; /* Темный фон */
		color: #fff; /* Белый текст */
		text-align: center; /* Центрирование текста */
		padding: 20px 0; /* Отступы сверху и снизу */
		position: absolute; /* Позиционирование */
		bottom: 0; /* Привязка к низу */
		width: 100%; /* Ширина на всю страницу */
		font-family: Arial, sans-serif;
	}
	
	footer p {
		margin: 0; 
		font-size: 14px; 
		text-align: center;
		color: #fff;
	}
}
